<!-- NAVIGATION -->
<nav
  class="navbar navbar-expand-sm navbar navbar-dark"
  style="background-color: black;"
>
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a routerLink="eGalaxy/users/register" class="nav-link" routerLinkActive="active"
        >Register User</a
      >
    </li>
    <li class="nav-item">
      <a routerLink="eGalaxy/users/list" class="nav-link" routerLinkActive="active"
        >List Users</a
      >
    </li>
    <ul class="navbar-nav ">
      <li class="nav-item">
          <a routerLink="eGalaxy/courses" class="nav-link" routerLinkActive="active">Course List</a>
      </li>
      <li class="nav-item">
          <a routerLink="eGalaxy/courses/add" class="nav-link" routerLinkActive="active">Add Courses</a>
      </li>
  </ul>
  </ul>
</nav>

<!-- TITLE -->
<div class="container">
  <br />
  <h1 style="text-align: center; color: steelblue;">
    {{ title }}
  </h1>
  <br />
</div>

<!-- <app-Course-list></app-Course-list> -->
<div class="container" style="background-color:antiquewhite">
  <br>
<router-outlet></router-outlet>
<br>
</div>
<br>
<!-- FOOTER -->
<footer class="footer">
  <div class="container">
    <br />
    Built with ANGULAR 9 & SPRING BOOT 2 - eGalaxy Solutions
  </div>
  <br />
</footer>
